<h1>
    <form [formGroup]="form">
        <div class="row">
            <mat-form-field appearance="outline" class="col">
                <mat-label>ZIP-code</mat-label>
                <input matInput formControlName="zip" />
            </mat-form-field>
            <button
                [disabled]="form.invalid"
                class="col"
                mat-raised-button
                color="primary"
                (click)="getWeather()">
                Find weather
            </button>
        </div>
    </form>
</h1>